sale-cards {
    .circle-pic{
        width:50px;
        height:50px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .text-mileage{
        color: #488aff;
    }

    .card-shadow{
        //dangerCustom 832232
        // lightCustom FDF5BF
        border-right: 7px solid #FDF5BF; 
        // border-bottom: 8px solid #113b7f;
    }

    .card-shadow-usersale{
        //dangerCustom 832232
        // lightCustom FDF5BF
        border-right: 7px solid #113b7f; 
        // border-bottom: 8px solid #113b7f;
    }
   
}
