<ion-slides (ionSlideDidChange)="slideChanged()" >


  <ion-slide *ngFor="let sale of usersale">
    <ion-card (click)="openWhaleSalePage(sale)" class="card-shadow-usersale">
      <ion-item>
        <ion-avatar item-start>
          <img class="circle-pic" src="../../assets/imgs/yardsale-default.png">
        </ion-avatar>
        <ion-row>
          <ion-col>
            <h2 class="font-quicksand">{{sale.title}}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <small class="font-quicksand">  9:00 am - 5:00 pm</small>
          </ion-col>
          <ion-col>
            <div text-right>
              <span class="text-mileage font-quicksand">{{sale.distance}} mi.</span>
                          <!-- <span *ngIf="sales.length > 0">
                            <small>
                            <ion-icon name="arrow-forward"></ion-icon>
                            </small>
                          </span> -->

            </div>
          </ion-col>
          
      
        </ion-row>
      </ion-item>
    </ion-card>
  </ion-slide>

  <ion-slide *ngFor="let sale of sales; let i = index;">
    <ion-card (click)="openWhaleSalePage(sale)" class="card-shadow">

      <ion-item >
        <ion-avatar item-start>
          <img class="circle-pic" src="../../assets/imgs/yardsale-default.png">
        </ion-avatar>
        <ion-row>
          <ion-col>
            <h2 class="font-quicksand">{{sale.title}}</h2>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <small class="font-quicksand"> 9:00 am - 5:00 pm</small>
          </ion-col>
          <ion-col>
            <div  text-right>
              <span class="text-mileage font-quicksand">{{sale.distance}} mi.</span>
              <!-- <span *ngIf="i < sales.length - 1"><small><ion-icon name="arrow-forward"></ion-icon></small></span> -->
            </div>
          </ion-col>

        </ion-row>
      </ion-item>






    </ion-card>
  </ion-slide>
</ion-slides>