page-intro-slide {
    .introSlideContent{
        background-repeat: no-repeat;
        background-size:cover;
        background-color: transparent;
        
        
        }
        
        .introSlide{
            background-image: url('../assets/imgs/blue-bubbles.svg');
        
            // background-image: url('../assets/imgs/bubbles.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        // background-color: transparent;
        
        
        }


        .slide1{
            background-image: url('../assets/imgs/blue-bubbles.svg');
            background-repeat: no-repeat;
            background-size:cover;
        }

        .slide2{

        }
        
}
