<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Whale Sale</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <map *ngIf="bSalesLoaded" [mapCenter]="mapCenter" [sales]="sales" [loadMarkerSet]="loadMarkerSet" [circleRadius]="circleRadius" (onLoadMapEvent)="onMapReady($event)"
      ></map>

  <ion-fab top left right *ngIf="bSalesLoaded && bHasMapLoaded!=false">
      <sale-cards [sales]="sales" [map]="gmap"></sale-cards>

  </ion-fab>

  <ion-fab bottom center>
    <button (click)="toggleSales()" ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>
