<!-- home header -->
<ion-header>
  <ion-navbar color="primaryCustom" text-center >
    <ion-item class="primaryCustom-backgroundColor" no-lines>
      <ion-label>
        <ion-row>
          <ion-col col-2>
            <button item-start ion-button menuToggle>
              <ion-icon name="menu" class="icon-menu"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-8 offset-2>
            <ion-title class="font-quicksand">Whalsesale</ion-title>
          </ion-col>

        </ion-row>
      </ion-label>

      <ion-toggle  (ngModelChange)="toggleFooter()" color="toggleColor" class="primaryCustom-backgroundColor" [(ngModel)]="mapListToggle">
      </ion-toggle>
    </ion-item>
  </ion-navbar>
</ion-header>
<!-- home header -->




<ion-content>
  <map *ngIf="bSalesLoaded || bLocationHasLoaded" [mapCenter]="mapCenter" [sales]="sales" [usersale]="usersale" [loadMarkerSet]="loadMarkerSet"
    [circleRadius]="circleRadius" (onLoadMapEvent)="onMapReady($event)" #map>
  </map>


  <ion-fab right bottom style="margin: 0px 0px 100px 0;" *ngIf="bSalesLoaded && bHasMapLoaded != false && bLoadAll && !footerState">
    <button ion-fab style="background-color: #f4f4f4" (click)="centerMap()">  <ion-icon color="danger" name="pin"></ion-icon>
    </button>
  </ion-fab>  
  
  <ion-fab top left right edge *ngIf="bSalesLoaded && bHasMapLoaded != false && bLoadAll && !footerState">
    <sale-cards [sales]="sales" [usersale]="usersale" [map]="gmap">

    </sale-cards>
  </ion-fab>

  <ion-fab bottom left right padding class="font-quicksand" *ngIf="!bDoesUserHaveActiveSale && bLoadAll && !footerState">
    <button class="btnCustom" (click)="openModal()" color="fabbtn" ion-button full round>
      <strong><label>Create Whalesale</label></strong>
    </button>
  </ion-fab>

  <ion-fab bottom left right padding class="font-quicksand" *ngIf="bDoesUserHaveActiveSale && bLoadAll && !footerState">
    <button class="btnCustom" (click)="editWhaleSale()" color="fabbtn" ion-button full round>
      <strong><label>Edit My Whalesale&nbsp;</label></strong>
    </button>
  </ion-fab>

  <footer></footer>



  <ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
    <ion-content >
      <img *ngIf="sales.length === 0" src="../../assets/imgs/WHALE.png">

      <ion-list>
        <ion-card *ngFor="let sale of usersale" (click)="openWhaleSale(sale)">

            <ion-item class="card-content">
                <ion-avatar item-start>
                  <img class="circle-pic" src="../../assets/imgs/yardsale-default.png">
                </ion-avatar>
                <ion-row>
                  <ion-col>
                    <h2 >{{sale.title}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col>
                    <small class="font-quicksand"> 9:00 am - 5:00 pm</small>
                  </ion-col>
                  <ion-col>
                    <div  text-right>
                      <span class="text-mileage font-quicksand">{{sale.distance}} mi.</span>
                    </div>
                  </ion-col>
        
                </ion-row>
              </ion-item>

        </ion-card>
        
            <ion-card *ngFor="let sale of sales; let i = index"  (click)="openWhaleSale(sale)">
        
              <ion-item  *ngIf="i%2 !== 0"  class="card-content">
                <ion-avatar item-start>
                  <img class="circle-pic" src="../../assets/imgs/yardsale-default.png">
                </ion-avatar>
                <ion-row>
                  <ion-col>
                    <h2 class="font-quicksand">{{sale.title}}</h2>
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col>
                    <small class="font-quicksand"> 9:00 am - 5:00 pm</small>
                  </ion-col>
                  <ion-col>
                    <div  text-right>
                      <span class="text-mileage font-quicksand">{{sale.distance}} mi.</span>
                    </div>
                  </ion-col>
        
                </ion-row>
              </ion-item>

              <ion-item  *ngIf="i%2 === 0" >
                  <ion-avatar item-start>
                    <img class="circle-pic" src="../../assets/imgs/yardsale-default.png">
                  </ion-avatar>
                  <ion-row>
                    <ion-col>
                      <h2 class="font-quicksand">{{sale.title}}</h2>
                    </ion-col>
                  </ion-row>
                  <ion-row >
                    <ion-col>
                      <small class="font-quicksand"> 9:00 am - 5:00 pm</small>
                    </ion-col>
                    <ion-col>
                      <div  text-right>
                        <span class="text-mileage font-quicksand">{{sale.distance}} mi.</span>
                      </div>
                    </ion-col>
          
                  </ion-row>
                </ion-item>
        
        
        
        
        
        
            </ion-card>


   
 
 

      </ion-list>

    </ion-content>

  </ion-pullup>

</ion-content>