@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Gamja+Flower|Merriweather|Oxygen|Quicksand|Ruslan+Display');

page-home {

    .distance{
        opacity: 0.75; 
        color: grey; 
        font-size: 14px; 
    }

 
}   
