<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Whale Sale</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <map *ngIf="bSalesLoaded && bLoadAll" 
    [mapCenter]="mapCenter" 
    [sales]="sales" 
    [usersale]="usersale"
    [loadMarkerSet]="loadMarkerSet" 
    [circleRadius]="circleRadius" 
    (onLoadMapEvent)="onMapReady($event)"
    >
  </map>

  <ion-fab top left right *ngIf="bSalesLoaded && bHasMapLoaded != false && bLoadAll">
      <sale-cards [sales]="sales"  [usersale]="usersale" [map]="gmap"></sale-cards>
  </ion-fab>

  <ion-fab  bottom left>
    <button (click)="addPin()" ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  
</ion-content>
