@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Gamja+Flower|Merriweather|Oxygen|Quicksand|Ruslan+Display');

page-home {
    ion-toolbar{
        padding: 100px;
    }
    .my-navbar{
        
    }
    .my-navbar-row{
        padding: 0px 0px 30px 0px;;
       
    }
    
    .header{
        // font-family: 'Gamja Flower', cursive;
        // font-family: 'Merriweather', serif;
        // font-family: 'Ruslan Display', cursive;
        // font-family: 'Fira Sans', sans-serif;
        // font-family: 'Oxygen', sans-serif;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

    .font-quicksand{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;

    }
    .btn-create-sale{
        padding: 30px;
        margin: 0 0 5px 0
    }
    .icon-menu{
        font-size: 30px;
        
    }
}   
