<!--
  Generated template for the WhalesalePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="bLoaded == true">


  <ion-navbar color="primaryCustom">
    <ion-title class="font-quicksand">({{sale.distance}} mi.) &nbsp;{{sale.title}}</ion-title>



    <ion-buttons end>
      <button ion-button clear (click)="closeModal()">
        <ion-icon id="close" name="close"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="bLoaded == true">


  <!-- Image Slides-->

  <!-- <ion-slides (ionSlideDidChange)="slideChanged()" style="height: 150px;" pager>

    <ion-slide *ngFor="let image of images" >

      <div><img [src]="image" ></div>

    </ion-slide>

  </ion-slides>





    <ion-row style="margin: 10px 0px;">
      <ion-col col-5 offset-1 (click)="onThumbnailClick(0)">
        <ion-thumbnail [style.border]="selectedImageIndex === 0 ? '2px solid #488aff' : '2px solid #e0e0e0'"
          [style.boxShadow]="selectedImageIndex === 0 ? '5px 5px #7c7c7c' : '5px 5px #e0e0e0'">
          <img [src]="images[0]">
        </ion-thumbnail>
      </ion-col>
    
      <ion-col col-5 (click)="onThumbnailClick(1)">
        <ion-thumbnail [style.border]="selectedImageIndex === 1 ? '2px solid #488aff' : '2px solid #e0e0e0'"
          [style.boxShadow]="selectedImageIndex === 1 ? '5px 5px #7c7c7c' : '5px 5px #e0e0e0'">
    
          <img [src]="images[1]">
        </ion-thumbnail>
      </ion-col>
    
    </ion-row> -->




<!-- 
    <ion-row>
        
        <ion-col text-center class="font-quicksand">
            <span style="font-size:25px">{{sale.title}} </span>
            <small >({{sale.distance}} mi.)</small>

        </ion-col>
      </ion-row> -->


  <!-- <ion-card-header class="my-card-header">Details</ion-card-header> -->
  <!-- <ion-card >
      <ion-card-header class="my-card-header">
        <ion-row>
          <ion-col text-left>Directions</ion-col>
          
          <ion-col text-center>
              <span style="color: #488aff">{{sale.title}} </span>
  
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card> -->
  <ion-row text-center style="border: 2px solid #e0e0e0; margin: 10px 0px 0px 0px;">
    <ion-col>
      <ion-label class="font-quicksand">
        <ion-icon *ngIf="bIsOpen===true" name="pricetag" color="fabbtn"></ion-icon><span *ngIf="bIsOpen===true" style="color: green;">&nbsp;Open</span>
        <ion-icon *ngIf="bIsOpen===false" name="alert" style="font-size: 20px;" color="dangerCustom"></ion-icon><span *ngIf="bIsOpen===false"
          class="status-closed">&nbsp;Closed</span>
          <!-- <ion-icon *ngIf="bIsOpen===true" name="pricetag" style="font-size: 20px;" color="green"></ion-icon><span *ngIf="bIsOpen===true"
          class="status-open">&nbsp;Open</span> -->
        <ion-icon *ngIf="bIsOpen==='opening'" name="build" color="fabbtn"></ion-icon><span *ngIf="bIsOpen==='opening'" >&nbsp;Coming
          Soon!</span>
      </ion-label>
    </ion-col>
    <ion-col *ngIf="bIsOpen==='opening'">
      <ion-label class="font-quicksand">
        <ion-icon name="calendar" color="fabbtn"></ion-icon>
        &nbsp;{{sale.startDate}}
      </ion-label>
    </ion-col>
    <ion-col *ngIf="bIsOpen==='opening' ||  bIsOpen === true">
      <ion-label class="font-quicksand">
        <ion-icon name="clock" color="fabbtn"></ion-icon>
        &nbsp;{{sale.displayStartTime}}
      </ion-label>
    </ion-col>
    <ion-col *ngIf="bIsOpen === true ">
        <ion-label class="font-quicksand">
          <ion-icon name="car" color="fabbtn"></ion-icon>
          &nbsp;{{sale.distance}} mi.
        </ion-label>
      </ion-col>
    <!-- <ion-col *ngIf="bIsOpen==='opening' || bIsOpen===true">
            <ion-label class="font-quicksand">
              <ion-icon name="car" color="fabbtn"></ion-icon>
              &nbsp;{{sale.distance}} mi.
            </ion-label>
          </ion-col> -->
  </ion-row>







  <ion-slides style="height: 50%; margin: 10px 0px 0px 0px;" pager >

    <ion-slide *ngFor="let image of images" >

      <div><img [src]="image"></div>

    </ion-slide>

  </ion-slides>





  <!-- <ion-card>

        <ion-card-header text-right>
          
        </ion-card-header>
      </ion-card> -->



  <!-- 
          Title:
          <ion-card>
            <ion-card-header text-right>
      
            {{sale.title}}
         </ion-card-header>
          </ion-card> -->


  <!-- 
Description:
  <ion-card>
    <ion-card-header text-right>
     {{sale.description}}
    </ion-card-header>
  </ion-card> -->
<div *ngIf="bIsOpen!==false">
    <ion-card  *ngIf="sale.description != ''"  style="border-right: 2px solid #e0e0e0;border-bottom: 2px solid #e0e0e0">
        <ion-card-header text-center>
            <span style="font-size: 15px; font-weight: bold;"><i>seller comments</i></span>

        </ion-card-header>
        <ion-card-content style="background-color: white">
            <span style="font-size: 16px;">{{sale.description}}</span>
        </ion-card-content>
      </ion-card>


      <ion-card  *ngIf="sale.description != ''"  style="border-right: 2px solid #e0e0e0;border-bottom: 2px solid #e0e0e0">
          <ion-card-header text-center>
              <span style="font-size: 15px; font-weight: bold;"><i>message board</i></span>
  
          </ion-card-header>
          <ion-card-content style="background-color: white">
              <!-- <span style="font-size: 16px;">{{sale.description}}</span> -->
          </ion-card-content>
        </ion-card>

        <ion-label class="font-quicksand" text-wrap text-center>
            <small>
              <span *ngIf="sale.description == ''"><i>No seller comments yet</i></span>
            </small>
          </ion-label>
      </div>
      

  <!-- <ion-card>
    <ion-card-header class="my-card-header">
      <ion-row>
        <ion-col text-left>Directions</ion-col>
        
        <ion-col text-right>
            <span style="color: #488aff">{{sale.distance}} <small> mi. </small></span>

        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card> -->

  <!-- <span *ngIf="sale.description != ''">Description:</span> -->
  <!-- <ion-card *ngIf="sale.description != ''">
    <ion-card-header text-center>
{{sale.description}}

    </ion-card-header>
  </ion-card> -->

  <ion-fab right bottom *ngIf="bIsOpen !==false" >
      <button ion-fab color="light"><ion-icon color="fabbtn" name="arrow-dropright"></ion-icon></button>
    </ion-fab>

    <ion-fab left bottom *ngIf="bIsOpen !==false" >
      <button ion-fab color="light"><ion-icon color="fabbtn" name="arrow-dropleft"></ion-icon></button>
    </ion-fab>

<!-- 
  <ion-fab >
    <button ion-fab class="btnCustom" *ngIf="bIsOpen!==false" (click)="contactSeller()" color="fabbtn">
      <ion-icon name="text"></ion-icon>
    </button>
  </ion-fab> -->




  <!-- <button class="btnCustom" *ngIf="sale.description != '' && bIsOpen!==false" (click)="contactSeller()" color="fabbtn" ion-button full round>
    <strong><label class="font-quicksand">Contact Seller</label></strong>
  </button> -->

  <!-- <ion-fab *ngIf="bIsOpen !==false" bottom left right padding class="font-quicksand">
    <button class="btnCustom" (click)="contactSeller()" color="fabbtn" ion-button full round>
      <strong><label>Contact Seller</label></strong>
    </button>
  </ion-fab> -->
  <!-- <ion-label class="font-quicksand">latitude:  {{sale.lat}}</ion-label>
 <ion-label class="font-quicksand">longitude: {{sale.lng}}</ion-label> -->
  <!-- <footer *ngIf="bIsOpen !==false"></footer> -->
</ion-content>