<!-- Generated template for the MapComponent component -->

<agm-map (mapReady)="onMapReady($event)" style="width:100%; height: 100%" [latitude]="mapCenter.lat" [longitude]="mapCenter.lng"
  [zoom]="11">


  <agm-marker [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [animation]="1"></agm-marker>


  <div *ngIf="loadMarkerSet===true">
    <agm-marker *ngFor="let sale of sales" [latitude]="sale.lat" [longitude]="sale.lng" [animation]="2"></agm-marker>
  </div>


  <div *ngIf="loadMarkerSet!=true">
    <agm-marker *ngFor="let sale of sales" [latitude]="sale.lat" [longitude]="sale.lng" [animation]="2"></agm-marker>
  </div>


  


    <agm-circle [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [circleDraggable]="false" [editable]="false" [fillColor]="'#c2d5f9'"
      [radius]="radius"></agm-circle>

</agm-map>